<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>pl.unstabler.ulalaca.sessionprojector.launcher</string>
	<key>RunAtLoad</key>
	<true />
	<key>KeepAlive</key>
	<true />
	<key>ProgramArguments</key>
	<array>
		<string>/Library/PrivilegedHelperTools/sessionprojector-launcher.app/Contents/MacOS/sessionprojector-launcher</string>
	</array>
	<key>LimitLoadToSessionType</key>
	<array>
		<string>Aqua</string>
		<string>LoginWindow</string>
	</array>
</dict>
</plist>
